body {
    background: #DDDDDD;
}

.navbar {
    background-color: #925a0f; 
    color: white;
}

.page-container {
    margin-top: 75px;
}

.main-button { 
    background-color: #925a0f;
    color: white; 
    font-size: 2em; 
    text-align: center;
    display: block;
    margin: auto; 
    margin-top: 20px; 
    text-transform: none;
    font-family: "Lucida Console", "Courier New", monospace;
    
}

.score-report { 
    font-size: 1.5em; 
    margin: 20px 0; 
    font-family:  "Luminari", "Papyrus", fantasy;
    font-weight: bold;
}

.main-button:hover{ 
    text-decoration: underline;
}

#buttonContainer { 
    margin-top:50px; 
    padding: 0 250px; 
}
#mcq-button { 
    padding:0 100;
    width: fit-content !important;
    word-wrap: break-word !important;
}

#titleText , #categoryText { 
    text-align: center;
    font-size: 4em;
    font-family:  "Luminari", "Papyrus", fantasy;
    margin-top: 100px;
    font-weight: bold;
}

#question { 
    font-size: 2.5em;
    text-align: center;
    font-family: "Garamond", "Times New Roman", serif;
    margin-top: 50;
}

.myHeader { 
    margin-top: .5em; 
    font-size: .75em;
}
#alert {
    color: red; 
    font-weight: bold;
}

#dropDown{ 
    font-size: 1.5em;
}
.card{ 
    margin: 15px 0; 
 
}
.card-title{ 
    font-weight: bolder !important; 
}